#### 1. Write a Python script to display the
#### a. Current date and time
#### b. Current year
#### c. Month of year
#### d. Week number of the year
#### e. Weekday of the week
#### f. Day of year
#### g. Day of the month
#### h. Day of week

### a. Current date and time

In [5]:
import pandas as pd
from datetime import datetime as d

In [12]:
dd=d.today()
dd

datetime.datetime(2021, 2, 19, 22, 17, 38, 143209)

In [11]:
dd2=d.now()
dd2

datetime.datetime(2021, 2, 19, 22, 15, 1, 984108)

In [14]:
dd.year

2021

In [15]:
dd.day

19

In [16]:
dd.month

2

In [30]:
dd.strftime("%W"),dd.strftime("%w"),dd.strftime("%a"),dd.strftime("%A"),dd.strftime("%B"),dd.strftime("%b"),dd.strftime("%d"),dd.strftime("%D")

('07', '5', 'Fri', 'Friday', 'February', 'Feb', '19', '02/19/21')


#### 2. Write a Python program to convert a string to datetime.
Sample String : Jan 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [33]:
z="Jan 1 2014 2:43PM"
type(z)

str

In [42]:
z1=d.strptime("Jan 1 2014 2:43PM","%b %d %Y %I:%M%p")
type(z1),z1

(datetime.datetime, datetime.datetime(2014, 1, 1, 14, 43))

In [44]:
z2=pd.to_datetime(z,format='%b %d %Y %I:%M%p')
type(z2),z2

(pandas._libs.tslibs.timestamps.Timestamp, Timestamp('2014-01-01 14:43:00'))

#### 3. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [45]:
from datetime import timedelta

In [52]:
c=d.today()
c.strftime("%D")

'02/19/21'

In [51]:
c1=c-timedelta(5)
c1.strftime("%D")

'02/14/21'

#### 4. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [54]:
D1=d.fromtimestamp(int('1284105682'))
type(D1)

datetime.datetime

In [55]:
D2=d.fromtimestamp(int('1284105682')).strftime('%Y-%b-%d %H:%M:%S')
D2

'2010-Sep-10 13:31:22'

#### 5. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [62]:
DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])
DoB

0    07Sep59
1    01Jan55
2    15Dec47
3    11Jul42
dtype: object

In [66]:
db=pd.to_datetime(DoB,format='%d%b%y')
db

0   2059-09-07
1   2055-01-01
2   2047-12-15
3   2042-07-11
dtype: datetime64[ns]

In [69]:
db-pd.DateOffset(years=100)

0   1959-09-07
1   1955-01-01
2   1947-12-15
3   1942-07-11
dtype: datetime64[ns]

#### 6. Write a Python program to get days between two dates.

In [74]:
q1=d.today()
q2="26apr2020"
type(q1),type(q2)

(datetime.datetime, str)

In [75]:
q2=d.strptime(q2,"%d%b%Y")
type(q2)

datetime.datetime

In [80]:
q=q1-q2
q.days

299

#### 7. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

In [81]:
z = "15Dec1989"
qd=pd.to_datetime(z,format='%d%b%Y')
qd.strftime('%A,%d %b %y')

'Friday,15 Dec 89'

In [83]:
z1= "15Dec1989"
qd=d.strptime(z1,'%d%b%Y')
qd.strftime('%A,%d %b %y')

'Friday,15 Dec 89'