# Online Retails Purchase

### Introduction:



### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

### Step 2. Import the dataset from this [Online_Retail.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Visualization/Online_Retail/Online_Retail.csv) from the folder.

In [56]:
online_rt = pd.read_csv("retail.csv",encoding="latin1",sep=",")
online_rt.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [57]:
online_rt.shape

(541909, 8)

### Step 3. Assign it to a variable called online_rt

In [58]:
rt=online_rt[online_rt.Country!="United Kingdom"]
rt.shape

(46431, 8)

### Step 4. Create a histogram with the 10 countries that have the most 'Quantity' ordered except UK

In [59]:
rt.groupby("Country")[["Quantity"]].max().add_prefix("max_").sort_values("max_Quantity",ascending=False)

                      max_Quantity
Country
Netherlands                   2400
Japan                         2040
EIRE                          1440
Australia                     1152
France                         912
Sweden                         768
Germany                        600
Canada                         504
Channel Islands                407
Spain                          360
Austria                        288
Singapore                      288
Cyprus                         288
Switzerland                    288
Belgium                        272
Denmark                        256
Iceland                        240
Norway                         240
Italy                          200
Finland                        144
Hong Kong                      144
Portugal                       120
Israel                         100
Bahrain                         96
Poland                          72
Czech Republic                  72
USA                             72
United Arab Emirates            72
Malta                           48
Lithuania                       48
Greece                          48
Unspecified                     48
Lebanon                         24
European Community              24
Brazil                          24
RSA                             12
Saudi Arabia                    12

### Step 5.  Exclude negative Quatity entries

In [60]:
online_rt[online_rt.Quantity>0].shape[0]

531285

### Step 6. Create a scatterplot with the Quantity per UnitPrice by CustomerID for the top 3 Countries

In [61]:
online_rt["q"]=online_rt.Quantity*online_rt.UnitPrice

In [62]:
online_rt.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,q
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom,20.34

In [63]:
rt1=online_rt.groupby(["Country"])[["q"]].sum().round(2).sort_values(by="q",ascending=False)
rt1.head()

                         q
Country
United Kingdom  8187806.36
Netherlands      284661.54
EIRE             263276.82
Germany          221698.21
France           197403.90

In [64]:
rt2=rt1.nlargest(3,"q")
rt2

                         q
Country
United Kingdom  8187806.36
Netherlands      284661.54
EIRE             263276.82

In [65]:
rt2=pd.merge(online_rt,rt2,on="Country",how="right").drop("q_y",axis=1)

In [69]:
rt2=rt2.groupby(["CustomerID","Country"])[["q_x"]].sum()

In [70]:
rt2.head()

                                q_x
CustomerID Country
12346.0    United Kingdom      0.00
12747.0    United Kingdom   4196.01
12748.0    United Kingdom  29072.10
12749.0    United Kingdom   3868.20
12759.0    Netherlands      1531.44

In [85]:
rt2.scatter(q_x,CustomerID,)
# plt.xlabel('Country')
# plt.ylabel('sales')
# plt.show()

AttributeError: 'DataFrame' object has no attribute 'scatter'

In [77]:
plt.scatter?